.crm_event {
  margin: 10px 0;
}
.crm_event h4 {
  font-size: 18px;
  font-weight: bold;
  color: #b51528;
}
.crm_event .date .title {
  font-weight: bold;
  border: none;
  margin: 0;
}
.crm_event .date .value {
      margin-bottom: 10px;
    }
  }
.crm_event .location .title {
  font-weight: bold;
  border: none;
  margin: 0;
}
.crm_event .location .value {
  margin-bottom: 10px;
}
