<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <span class="icon editing-icon-ip"></span>
  </div>

  <div class="title">
    CRM Event
  </div>

  <div class="description">
    Shows Data from an Event from Infopark CRM.
  </div>
</div>
